.container {
  background: rgb(237, 115, 115);

  max-width: 1600px !important;
}
.chatContainer {
  display: flex;
  flex-direction: row;
  // height: calc(100% - 60px);
  height: 100%;
  // flex: 1;
  max-height: 100vh;
}
