.container {
  transition: 0.5s;
  overflow: hidden;
  background: rgb(240, 242, 245);
  overflow-y: scroll;
  padding: 1%;
  flex: 1;
  border-radius: 0.5rem;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

@media (max-width: 1050px) {
  .container {
    width: 65%;
  }
}
@media (max-width: 750px) {
  .container {
    width: 60%;
  }
}

@media (max-width: 550px) {
  .container {
    width: 100%;
    padding: 0px;
  }
  .hide {
    width: 0px;
  }
}
