.container {
  transition: 0.5s;
  overflow: hidden;
  overflow-y: scroll;
  flex: 1;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  background: white;
  padding: 1ch;

  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.closeButton {
  display: none;
  margin-right: 10px;
}

@media (max-width: 1050px) {
  .container {
    width: 65%;
  }
}
@media (max-width: 750px) {
  .container {
    width: 60%;
  }
}

@media (max-width: 550px) {
  .container {
    width: 100%;
    // padding: 0px;
  }
  .hide {
    width: 0px;
    padding: 0px;
  }
  .closeButton {
    display: block;
  }
}
