.container {
  // height: 60px;
  padding: 10px 5px;
  margin-bottom: 1px;
  color: white;
  align-items: center;
  display: flex;
  background-image: linear-gradient(
    to right,

    rgb(211, 225, 244),
    rgb(230, 231, 234)
  );
}
