.container {
  width: 25%;
  height: 100%;
  transition: 0.5s;
  overflow: hidden;
  background: white;
  padding-left: 0.5%;
  padding-top: 0.5%;
}
@media (max-width: 1050px) {
  .container {
    width: 35%;
  }
}

@media (max-width: 750px) {
  .container {
    width: 40%;
  }
}
@media (max-width: 550px) {
  .container {
    width: 100%;
  }
  .hide {
    width: 0px;
    padding: 0px;
  }
}
