.container {
  width: 25%;
  height: 100%;
  transition: 0.5s;
  overflow: hidden;
  margin-right: 0.12rem;
}
.headerContainer {
  // margin-bottom: 0px;
}

@media (max-width: 1050px) {
  .container {
    width: 35%;
  }
}

@media (max-width: 750px) {
  .container {
    width: 40%;
  }
}

@media (max-width: 550px) {
  .container {
    width: 100%;
    margin-right: 0px;
  }
  .hide {
    width: 0px;
    padding: 0px;
  }
}
